In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt
import math as mt

In [2]:
data=pd.read_csv("C:/Users/SANDY/Desktop/DATA ANALYSIS FILES - JULY 2024/PROJECT 13 - USING PYTHON [CASE STUDY 04] [Google Play Store]/googleplaystore.csv")

In [3]:
df=pd.DataFrame(data)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

1. Display Top 5 Rows of The Dataset

In [5]:
df.head(5)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

2. Check the Last 3 Rows of The Dataset

In [6]:
df.tail(3)

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10838,Parkinson Exercices FR,MEDICAL,NaN,3,9.5M,"1,000+",Free,0,Everyone,Medical,"January 20, 2017",1.0,2.2 and up
10839,The SCP Foundation DB fr nn5n,BOOKS_AND_REFERENCE,4.5,114,Varies with device,"1,000+",Free,0,Mature 17+,Books & Reference,"January 19, 2015",Varies with device,Varies with device
10840,iHoroscope - 2018 Daily Horoscope & Astrology,LIFESTYLE,4.5,398307,19M,"10,000,000+",Free,0,Everyone,Lifestyle,"July 25, 2018",Varies with device,Varies with device

3. Find Shape of Our Dataset (Number of Rows & Number of Columns)

In [7]:
df.shape

(10841, 13)

4. Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

5. Get Overall Statistics About The Dataframe

In [60]:
df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

6. Total Number of App Titles Contain Astrology

In [5]:
df.columns
df[df["App"].str.contains("Astrology")]["App"].count()

np.int64(3)

7. Find Average App Rating

In [7]:
df.columns
#df["Rating"].agg({"Rating":"mean"})
df["Rating"].mean()

np.float64(4.193338315362443)

8.  Find Total Number of Unique Category

In [63]:
df["Category"].nunique()

34

9. Which Category Getting The Highest Average Rating?

In [64]:
df.columns
df.groupby("Category").agg({"Rating":"mean"}).sort_values(by="Rating", ascending=False).head(5)

                        Rating
Category
1.9                  19.000000
EVENTS                4.435556
EDUCATION             4.389032
ART_AND_DESIGN        4.358065
BOOKS_AND_REFERENCE   4.346067

10. Find Total Number of App having 5 Star Rating

In [67]:
df.columns
df[df["Rating"]==5.0]["App"].count()

np.int64(274)

11. Find Average Value of Reviews

In [102]:
df.columns
#df["Reviews"].astype('float')
#df["Reviews"].value_counts()
#df[df["Reviews"]=="3.0M"]
#df["Reviews"].replace("3.0M","3.0",inplace=True)
df["Reviews"] = df["Reviews"].astype('float')
df["Reviews"].dtype
df["Reviews"].mean()

np.float64(444111.9265750392)

12. Find Total Number of Free and Paid Apps

In [11]:
df.columns
df["Type"].value_counts()

Type
Free    10039
Paid      800
0           1
Name: count, dtype: int64

13.  Which App Has Maximum Reviews?

In [49]:
df.head(5)
df[df["Reviews"].max()==df["Reviews"]]["App"]
#df[df["Reviews"].max()==df["Reviews"]]

2989    GollerCepte Live Score
Name: App, dtype: object

14. Display Top 5 DISTINCT Apps Having Highest Reviews

In [120]:
df.columns
df.groupby("App").agg({"Reviews":"max"}).sort_values(by="Reviews", ascending=False).head(5)

                                             Reviews
App
Facebook                                  78158306.0
WhatsApp Messenger                        69119316.0
Instagram                                 66577446.0
Messenger – Text and Video Chat for Free  56646578.0
Clash of Clans                            44893888.0

Display Top 5 Apps Having Highest Reviews

In [63]:
#df["Reviews"].replace("3.0M",3.0, inplace=True)
df["Reviews"].dtype
df["Reviews"] = df["Reviews"].astype("int")
#df_sorted = df_sorted.astype("int")
df_sorted = df["Reviews"].sort_values(ascending=False)
#df_sorted = df_sorted.astype("int")
df.iloc[df_sorted.index]["App"]

2544              Facebook
3943              Facebook
381     WhatsApp Messenger
336     WhatsApp Messenger
3904    WhatsApp Messenger
               ...
5023          Dashboard AE
6917              BW Ultra
6918               BW-IVMS
5029            AE Manager
4848               Z PIVOT
Name: App, Length: 10841, dtype: object

15. Find Average Rating of Free and Paid Apps

In [13]:
df.head(2)
df.groupby("Type").agg({"Rating":"mean"})

         Rating
Type
0     19.000000
Free   4.186203
Paid   4.266615

16. Display Top  5 Apps Having Maximum Installs

In [22]:
df.head(2)
df["Installs"].replace("Free","0", inplace=True)
df_installs = df["Installs"].sort_values(ascending=False) 
df.iloc[df_installs.index]["App"].head(5)

C:\Users\SANDY\AppData\Local\Temp\ipykernel_18552\587121460.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Installs"].replace("Free","0", inplace=True)

1661                             Temple Run 2
4039    Google Duo - High Quality Video Calls
385                           Viber Messenger
3562                          Google Calendar
4048                                  Dropbox
Name: App, dtype: object

Another Way

In [210]:
#df["Installs"] = df["Installs"].str.replace(",","")
#df["Installs"] = df["Installs"].str.replace("+","")
#df["Installs"] = df["Installs"].str.replace("Free","0")

df["Installs"] = df["Installs"].astype("int32")
df["Installs"].dtype
#df["Installs"].sort_values(ascending=False)
df_install_sorted = df["Installs"].sort_values(ascending=False).head().index
df.iloc[df_install_sorted]["App"]

3565                                Google Drive
3896                              Subway Surfers
381                           WhatsApp Messenger
335     Messenger – Text and Video Chat for Free
3523                                Google Drive
Name: App, dtype: object